<!doctype html>
{% set project_title = "SassDoc" %}

{% if package.name %}
  {% set project_title = (package.name|capitalize) %}
{% endif %}

{% if package.title %}
  {% set project_title = package.title %}
{% endif %}

<html lang="en">
<head>
  {# Include head content #}
  {% include "../includes/partials/head.html.njk" %}
</head>
<body>
  {# Brand bar #}
  <section class="su-brand-bar su-brand-bar--bright">
    <div class="su-brand-bar__container">
      <a class="su-brand-bar__logo" href="https://stanford.edu">Stanford University
      </a>
    </div>
  </section>

  {# Sidebar #}
  <aside class="sidebar su-secondary-nav" role="nav">
    {% block sidebar %}{% endblock %}
  </aside>

  {# Main container #}
  <article class="main" role="main">

    {# Include top navbar #}
    {% include "../includes/partials/header.html.njk" %}

    {# Include description #}
    {% include "../includes/partials/description.html.njk" %}

    {# Main content block #}
    {% block content %}{% endblock %}

    {# Include footer #}
    {% include "../includes/partials/footer.html.njk" %}
  </article>


  {# Include scripts #}
  {% include "../includes/partials/scripts.html.njk" %}
</body>
</html>
